<header class="jumbotron text-center">
    <h1>{{title}}</h1>
  </header>
  <nav class="col-md-10 mx-auto bg-dark p-2 row">
    
    <a class="nav-item nav-link text-white" routerLink="getbyid">ViewByID</a>
    <a class="nav-item nav-link text-white" routerLink="getall">ViewAllEmployee</a>
    <a class="nav-item nav-link text-white" routerLink="getbydept">ViewByDept</a>
    <a class="nav-item nav-link text-white" routerLink="addemployee">Add Employee</a>
  </nav>
  <router-outlet></router-outlet>